<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form Design</title>
    <link rel="stylesheet" type="text/css" href="/bfh/static/css/login.css">
</head>
<body>
   <div class="loginbox" >
    <img src="/bfh/static/images/avatar.png" class="avatar">
       <h1>Login Here</h1>
       <form action="">
           <p>UserName</p>
           <input type="text" name="" placeholder="Enter Username" >
           <p>Password</p>
           <input type="password" name="" placeholder="Enter Passsword">
           <input type="submit" name="" value="Login">
           <a href="#">Lost Your Passsword?</a><br>
           <a href="#">Don't have an Account</a>
       </form>
   </div> 
    
</body>
</html>